@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card-container {

    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    max-width: 80%;
    border-radius: 1.2rem;
    background: #01579b;
    margin: 2rem auto;
    padding: 1.2rem;
}

.header {
    margin-left: .5rem;
    font-size: 2.6rem;
    background-color: black;
    padding: 2rem;
    color: white;
}

.card-container div {
    font-size: 1.8rem;
    margin: 1rem;
}

.main {
    display: flex;
    justify-content: space-between;
}

.button {

    width: 35px;
    height: 35px;

}